@font-face {
    font-family: 'CustomFont';
    src: url('../public/fonts.css/') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'CustomFont    ', sans-serif;
  }